<% layout('layouts/boilerplate') %>
<body>
  <form method="POST" action="/listings">
    <div class="row mt-3">
      <div class="col-8 offset-2">
      <div class="mb-3 ">
        <br>
        <h3>Create a New Listing</h3>
        <label for="title" class="form-lable">Title</label>
        <input
          name="listing[title]"
          class="form-control"
          placeholder="Enter a catchy title"
          type="text"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" class="form-control"></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-lable">Image Link</label>
        <input
          name="listing[image]"
          type="text"
          placeholder="Enter image URL/Link"
          class="form-control"
        />
      </div>
  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-lable">Price</label>
      <input
        name="listing[price]"
        type="number"
        placeholder="1200"
        class="form-control"
      />
    </div>

    <div class="mb-3 col-md-8">
      <label for="contry" class="form-lable">Contry</label>
      <input
        name="listing[contry]"
        type="text"
        placeholder="India"
        class="form-control"
      />
    </div>
  </div>
      
      <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input
          name="listing[location]"
          type="text"
          placeholder="Banglore, Karnataka"
          class="form-control"
        />
      </div>
  
      
      <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>

    </form>
    </div>
  </div>
</body>
