/* Body Styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This is the new class for the sticky footer */
.main-content {
  flex-grow: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* UPDATED Footer */
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw;  */
  position: absolute;
  position: relative;
  bottom: 0rem;
  left: 0px;
  /* width: 100vw; */
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.f-info-socials {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
  color: black;
}

/* Card Effect */
.image-container {
  position: relative;
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  border-radius: 1rem;
  transition: opacity 0.3s ease;
}

.image-container:hover .card-img-top {
  transform: scale(1.05);
}

.image-container:hover .img-overlay {
  opacity: 0.2;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Image */
.show-img {
  height: 30vh;
}

/* CORRECTED delete button class */
.delete-btn {
  background-color: #222222;
}
