<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <% if (success && success.length > 0) { %>
    <p style="color: green"><%= success[0] %></p>
    <% } %> <% if (error && error.length > 0) { %>
    <p style="color: red"><%= error[0] %></p>
    <% } %>
    <h1>Hello, <%= name %>!</h1>
  </body>
</html>
